{
  "presets": ["next/babel"],
  "plugins": [["babel-plugin-styled-components", { "ssr": true }]],
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [["babel-plugin-styled-components", { "ssr": true, "fileName": true, "displayName": true }]]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [["babel-plugin-styled-components", { "ssr": true }]]
    }
  }
}
